.adaptive-images picture *, .adaptive-images iframe{
    width: 100%;
    object-fit: cover;
}
.adaptive-images iframe{
    min-height: 450px;
    height: 100%;
}
.full-height{
    height: 100vh;
    position: relative;
}
.full-height picture *, .full-height iframe{
    height: 100%;
}
.full-height picture *{
}
.full-height iframe{
    position: absolute;
    top: 0;
}

@media screen and (min-width: 769px) {
    .adaptive-images iframe + picture{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .adaptive-images iframe{
        display: none;
    }
}
